@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  /* min-height: 2000px; */
  scroll-behavior: smooth;
}

.container {
  margin: 0 20% 4rem 20%;
}

.topnav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333333;
  justify-content: center;
}
.div-topnav {
  margin: 0 20%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  /* background-color: #f2f2f2;
  transition-delay: .2s;
  color: #333333; */
  font-weight: bold;
}

#home {
  padding-top: 150px;
  justify-content: center;
}

.row {
  display: flex;
  column-gap: 10%;
}

.column {
  flex: 50%;
  line-height: 2;
}

ul {
  display: grid;
  row-gap: 5px;
}

li {
  margin: 1rem 0;
}

a {
  color: #000;
  text-decoration: none;
}

#bio {
  padding-top: 100px;
}

.heading {
  padding-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.subheading {
  padding: 20px 0;
}

#bio > p {
  padding-top: 20px;
  text-indent: 50px;
}

#pres {
  padding-top: 20px;
  margin: 0 10%;
}

@media only screen and (max-width: 960px) {
  .container,
  .div-topnav {
    margin: 0 4rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .column {
    flex: 100%;
    text-align: center;
    justify-content: center;
  }
  .bio {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  #pres {
    margin: 0 1rem;
  }
  .container,
  .div-topnav {
    margin: 0 1rem;
  }
}
